language: python
python:
#  - "2.6"
  - "2.7"
#  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly" 

before_install:
  - sudo apt-get install pandoc
  
install:
  - pip install -r requirements.txt
  - pip install --editable .

script: python tests.py

branches:
  only:
    - master

notifications:
  email: true
  
