click==7.1.2
humanize==0.5.1
Jinja2==2.11.3
Markdown==3.1.1
pypandoc==1.4
tzlocal
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
StringGenerator==0.3.3
mock==3.0.5
python-gnupg==0.4.5
glom
s3fs
pytest
sphinx
sphinx-autobuild
sphinx_rtd_theme


